svg{
    display: flex;
    border: 1px;
    margin-left: 10px;

}

h2{
    text-align: center;
}

.input{
    pointer-events:none;
}
.tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #555;
    float: left;
    display: flex;
    font-size: x-small;
    color: white;
}

.square:hover{
    filter: brightness(140%);
}

.tick {
    color:  black;
    stroke: lightgrey;
    stroke-opacity: 0.6;
    stroke-dasharray: 4;
    font-size: 6pt;

}

#borderRect{
    border: 1px solid white;
    border-left-color: black;
    border-radius: 1px;
    position: absolute;
    margin: 20px 20px 40px 1490.2px;
    width: 1px;
    height: 440px;

}


#rightlabel{

    transform: rotate(-90deg);
    text-align: left;
    position: absolute;
    margin-top: 250px;

}

#bottomlabel{
    text-align: center;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-right: 20px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
